* {
    font-family: "Gill Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: aliceblue;
    color: dodgerblue;
}

button {
    border-radius: 5px;
    background-color: dodgerblue;
    color: #F9FAF8;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px 30px 10px 30px;
}

button:hover {
    background-color: lightskyblue;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: #F9FAF8;
}

.row {
    display: flex;
    flex: 1;
}

.box {
    flex: 1;
    border: 1px solid lightgray;
}